[2022-08-30 20:51] rliwoch opened #1 "Not compatible with Ivy Bridge E/EP boards"
Hi @xCuri0,

First of all - great effort. Stumbled upon your post on reddit.

I glanced over the source code before building just to check if there's nothing super malicious there. Frankly, I don't have enough EFI knowledge to judge but the C code looked sane, so I went on to build the module all singing and dancing based on the promise of Ivy Bridge **+** readied myself for a treat.
I've built th

[2022-08-31 09:00] xCuri0 commented on #1
@rliwoch

Actually it hooks the PciBus driver which gets called by PciHostBridge. On your system it's probably called by PciRootBridge but I can't be sure. And I would recommend using UEFITool unless you know MMTool works for you

[2022-08-31 09:14] rliwoch commented on #1
Cheers for answering. I'll poke around.
Any specific reason you're recommending UEFITool? I remember reading once that MMTool can mess up paddings? is it what you're getting at?

Still just letting you know that as it's stands it's not for every Ivy Bridge and up. Interestingly enough 4G Decoding definitely works on those boards as Quadro M4000 with 8gigs of vRAM works no issues. It's just Teslas

[2022-08-31 09:22] xCuri0 commented on #1
@xCuri0

Not any reason besides it working for me (didn't try MMTool), open source and apparently MMTool sometimes causes issues according to some people.

[2022-08-31 12:18] rliwoch commented on #1
MMTool worked for me for injecting NVMe boot capabilities on X79 back in the day. But I take your point.

One more question - you did all your work based on the tianocore source code, right?   [PciHostBridge.c](https://github.com/tianocore/edk2/blob/7c0ad2c33810ead45b7919f8f8d0e282dae52e71/MdeModulePkg/Bus/Pci/PciHostBridgeDxe/PciHostBridge.c)?
Not some reversed engineered Asus bios or something l

[2022-09-01 11:50] rliwoch commented on #1
@xCuri0

TL;DR; I think it may actually work. Will try it. I somehow missed what you said yesterday

I got panicky when you said "insert before HostBridge" and I don't have a HostBridge :) If it works I'll let you know.

Would you care to share your `lspci | grep -I  bridge` when you got a second?

Mine:
[code]
^ the above would make sense in view of the actual system diagram:
![image](https://use

[2022-09-01 12:01] xCuri0 commented on #1
@rliwoch
[code]

[2022-09-01 19:57] rliwoch commented on #1
So before flashing I decompiled the existing BIOS with `ghidra` to the extent I was indeed able to see that there is a HostBridge in there somewhere created and `PciHostBridgeResourceAllocationProtocol` would be called.

- Compiled the module with ReBar set as 19 = 2^19.
- Injected the `ReBarDXE` between the `PciBus` and `PciRootBridge`
- Unfortunately no worky-worky

all memory regions are still

[2022-09-02 01:58] xCuri0 commented on #1
@rliwoch send dmesg (if you can) would be useful in seeing why the memory regions get disabled.

also you have to create RebarState efi variable and set that to needed size to enable it. Can you also send the output of lspci that shows the Resizable BAR capability ?

[2022-09-02 11:21] xCuri0 commented on #1
not too sure about it. i used a windows application i made to set the efi variable because i didn't think of the case of nvidia gpus on linux (amd doesn't need bios support for resizable bar on linux). source code is here [RebarState.cpp](https://gist.github.com/xCuri0/23307bb0cf6f02a8be8df3a3276139cb)

[2022-09-02 20:34] rliwoch commented on #1
Interestingly enough M40 is the only device that doesn't even attempt to do anything with BAR, 10gig Intel NIC and LSI SAS controller both create BARs.

[dmesg.txt](https://github.com/xCuri0/ReBarUEFI/files/9480878/dmesg.txt)
[lsi2008.txt](https://github.com/xCuri0/ReBarUEFI/files/9480879/lsi2008.txt)
[m40.txt](https://github.com/xCuri0/ReBarUEFI/files/9480880/m40.txt)

I also checked RTX3070 I ha

[2022-09-03 03:37] xCuri0 commented on #1
This does appear to be 32GB so the ReBar module is working.

[    5.427546] nvidiafb: Device ID: 10de17fd
[    5.427549] nvidiafb: unknown NV_ARCH

This appears to be the problem so the issue is with the Nvidia driver ?

[2022-09-03 05:17] rliwoch commented on #1
No that's a red herring. Forgot to tell you to ignore that.
This module is normally turned off in mod probe - i just turned it on for completeness for you.

That's a virtualisation server so the host normally has all nvidia kernel modules (open source or proprietary) turned off in `modprobe`.
The only thing the host OS has to do is to load the hardware properly and in separate IOMMU groups. If I i

[2022-09-03 05:51] xCuri0 commented on #1
can you show the dmesg of this

[2022-09-03 06:03] rliwoch commented on #1
[dmesg-guest.txt](https://github.com/xCuri0/ReBarUEFI/files/9481882/dmesg-guest.txt)

[code]

Interesting. Don't know why I didn't think to look in there. I just assumed I'll first try to solve it on the host.

[2022-10-02 22:11] hansbogert opened #2 "Howto build on Linux?"
I did the following:

[code]

[2022-10-03 03:34] xCuri0 commented on #2
You need to setup edk2 environment before building

[https://github.com/tianocore/tianocore.github.io/wiki/Common-instructions](https://github.com/tianocore/tianocore.github.io/wiki/Common-instructions)

[2022-10-24 03:25] Smarfbag87 opened #3 "Any Support on Dell OEM. Precison 3620"
Wondering if this is compatible with a dell oem. If not looks like a nice tweak to systems.

[2022-10-24 03:55] xCuri0 commented on #3
Try it and see if you don't have 4G decoding in BIOS check hidden BIOS settings

[2022-10-26 03:16] #3 closed

[2022-10-26 03:16] #2 closed

[2022-10-26 06:47] hansbogert commented on #2
@xCuri0 never thanked you, hereby, thanks!

[2022-10-29 22:33] SqueakyAlex opened #4 "Boots into windows but unable to access bios with ReBAR at or greater than 4gb"
- Motherboard: Gigabyte z170x-Gaming 7 rev. 1.0
 - BIOS Version: F22m
 - GPU: Radeon RX6800

Easily managed to set it up and get it running.
After some quick testing I found out that...

1gb = According to Radeon drivers (ver22.10.2) and GPU-Z, ReBAR gets enabled, works as expected.
2gb = Halts on bootlogo, unable to enter bios. Need to reset bios.
4gb+ = Boots into Windows but unable to see bootl

[2022-10-30 02:20] #1 closed

[2022-10-30 02:21] xCuri0 commented on #4
CSM is off right ? Don't believe what GPU-Z says about CSM or 4G decode because it's often wrong

[2022-10-30 03:37] SqueakyAlex commented on #4
Yes, verified that CSM is off and 4G decode is enabled.

I do get a performance boost when its set to 4gb+, its just that I'm unable to enter the bios and the screens stay off during boot until windows logon screen shows.

Just noticed on your winraid forum post that someone else is having a similar problem with the same board, just diff gpu.

[2022-10-30 04:00] xCuri0 commented on #4
@SqueakyAlex yeah the bios probably needs patching. I had to patch my bios (gigabyte b75m-d3h) to get BARs over 2GB to work.  But I haven't made a patch to fix this issue since I don't have it.

Can you send a screenshot of Device Manager resources tab for your GPU when using 1GB BAR ?

[2022-10-30 10:25] SqueakyAlex commented on #4
1GB Bar
![gpu resources 1gb](https://user-images.githubusercontent.com/19908441/198873703-a453b13b-ca90-425b-bf85-1ffb30692c2b.PNG)

Some unrequested extras
4GB Bar
![gpu resources 4gb](https://user-images.githubusercontent.com/19908441/198873710-ebba25a5-0736-409e-8fa0-251f7404dec9.PNG)

16GB Bar
![gpu resources 16gb](https://user-images.githubusercontent.com/19908441/198873718-20de8555-81a4-4401

[2022-10-30 11:05] xCuri0 commented on #4
@SqueakyAlex the issue of High Definition Audio Bus not having enough resources can be fixed by patching the PciHostBridge module's call to AddMemorySpace to increase the size it uses (and DSDT QWordMemory too if needed).

[2022-10-30 11:44] slayermaster opened #5 "UEFIPatch: Increase MMIO space hangs Windows on boot screen. More info on DSDT mod?"
**System**
 - Motherboard: Z77X-D3H
 - BIOS Version: F18i
 - GPU: GTX 1070

**Description**
Patching the bios MMIO causes Windows to hang on boot screen and will not proceed to login screen. Seen that it might need DSDT mod, any more info that?

[2022-10-30 12:40] xCuri0 commented on #5
You need to extract the DSDT from the Amiboardinfo module with [AmiboardinoTool](https://github.com/xCuri0/AmiBoardInfoTool). Decompile the DSDT and look for ```CreateQWordField```. It will be something like this probably (stock on my Gigabyte B75M-D3H)

[code]
Change it to something like (my modded DSDT)
[code]
Recompile the DSDT. I recommend that you remove what's not needed in the DSDT to make

[2022-10-30 13:40] slayermaster commented on #5
I have that exact code, probably because we both have Gigabyte board. Will have a try and report back later.

[2022-10-30 14:46] slayermaster commented on #5
It works flawlessly, flashing the bios with the new DSDT boots straight into Windows.
I was hoping by increasing the MMIO space, it'll fix Hyper-V's GPU-P _"upper MMIO region is above the supported physical address range"_ but sadly it did not. Error still pops up.

Still, good to know that I can turn on ReBar on my trusty ol mobo.

[2022-10-30 15:00] xCuri0 commented on #5
I will add more info about doing the DSDT mod. Closing

[2022-10-30 15:00] #5 closed

[2022-10-30 18:33] SqueakyAlex commented on #4
Assuming your patches would not work for Skylake, I spent a few hours checking pcihostbrige on ghidra and came to the conclusion that I don’t know what I’m looking for and that I know nothing about assembly.

Eventually I did try your patches and as expected the result was "No patches can be applied to input file"

I did manage to extract my DSDT and found this

[code]

[2022-10-30 18:49] xCuri0 commented on #4
@SqueakyAlex Just send a screenshot of Device Manager showing Resources By Type Large Memory it will show how much the space the DSDT gives.

[2022-10-30 19:13] SqueakyAlex commented on #4
![devman large memory](https://user-images.githubusercontent.com/19908441/198897184-7439a3ec-42c2-46c2-a74f-382eb22423a3.PNG)

[2022-11-01 13:56] Schaka opened #6 "Injection possible using bootloader?"
Hi,

I'm wondering if it's possible to inject the driver using a bootloader like Clover, OpenCore or DUET.
OEM systems usually have some sort of module that disables any BIOS mods by recognizing modifications and refusing to POST with some sort of checksum error (they usually have beep codes for that).

I feel like the real strength of your mod are budget OEM systems, Chinese X99 where you mod the

[2022-11-01 15:34] xCuri0 commented on #6
No because it will then be loaded after PCI enumeration has finished so the hooked PreprocessController never gets run.

I did initially make a version that runs from a bootloader though but it's a hardcoded mess that only works if you use CSM on and makes your boot screen rainbows till the GPU driver loads. Commit [4e9175badbf7a4d75ef6ac4c4c92897dc559b7ae](https://github.com/xCuri0/ReBarUEFI/tree

[2022-11-02 05:24] #6 closed

[2022-11-02 19:30] Tokobotenkai opened #7 "How do I compile it for Ubuntu?"
Do you have a step by step guide on how to go about it?

I am having issues trying to setup the edk2 environment, seems like one of the modules is missing (at least following this guide: https://github.com/tianocore/tianocore.github.io/wiki/Common-instructions).

Or do I have to try a specific release of edk2?

I am running Ubuntu 22.04 as I am trying to get the new Intel Arc GPUs running which se

[2022-11-03 02:06] xCuri0 commented on #7
I used the latest EDK2 on Ubuntu 22.04 without problems. What's the exact error that you are getting ?

[2022-11-03 04:57] Tokobotenkai commented on #7
I realised I wasn't using the latest so I did this:

[code]

I got this output:
[code]

Any ideas?

[2022-11-03 05:02] xCuri0 commented on #7
What happens when you use the default target.txt ?

[2022-11-03 05:04] Tokobotenkai commented on #7
Running build without the python script gives an output without the build failed line with the modified target.txt

I could try to run it with the defaults again.

[2022-11-03 05:31] xCuri0 commented on #7
The following worked for me
[code]
Edit ```Conf/target.txt```
[code]
[code]

[2022-11-03 11:09] Tokobotenkai commented on #7
Wanted to say it works now!

Thank you.

I get an error now in the ASUS EZ Flash utility (in the BIOS) saying that selected file is not a proper BIOS. Any idea?

Just to check if I just need to add the FFS file after the last entry of the DXE driver section (the one containing CSMCore) correct?

The efi file generated with the FFS is not required correct?

[2022-11-03 11:44] xCuri0 commented on #7
@Tokobotenkai what motherboard is it ?

[2022-11-03 11:55] Tokobotenkai commented on #7
The motherboard is an ASUS Z97-PRO, from my understanding [here](https://winraid.level1techs.com/t/howto-get-full-nvme-support-for-all-systems-with-an-ami-uefi-bios/30901/5900?page=296):

[2022-11-03 16:05] Tokobotenkai commented on #7
I think I managed to get it working?
[code]

Does this mean it is working?

[2022-11-03 16:11] xCuri0 commented on #7
@Tokobotenkai no the BIOS should do the BAR resizing itself which is clearly hasn't because the GPU driver tries to resize it. Here it looks like Linux is trying to do BAR resizing and failing because 4G Decoding is disabled ?

[2022-11-03 16:27] Tokobotenkai commented on #7
I just checked that I have enabled it in the BIOS.

Not too sure how do I upload it but here is the file: https://drive.google.com/file/d/1-5zQmXm8xSRryHiWRTa9qT10BrTAevAc/view?usp=sharing

[2022-11-03 16:30] xCuri0 commented on #7
@Tokobotenkai have you enable the ReBarUEFI driver using ReBarState ?

[2022-11-03 16:40] Tokobotenkai commented on #7
I set it to like 13 (which is 8GB) as lspci -vvv showed that the BAR size is up to 8GB, the card has 6GB RAM only though

[2022-11-03 16:42] xCuri0 commented on #7
that's normal BAR size can only be power of 2. Does it show the current BAR size is 8GB though ? send the whole lspci

[2022-11-03 17:01] Tokobotenkai commented on #7
[code]

[code]

[2022-11-03 17:10] xCuri0 commented on #7
13 is correct. The driver isn't working it's probably because it was built on Linux. I think that some UEFI don't like Linux built modules because they have a different IMAGEBASE (although they do work fine with Ovmf QEMU). Either that or the BIOS wasn't flashed correctly. You could try either building on Windows or using the FFS from releases

[2022-11-03 17:35] Tokobotenkai commented on #7
I noticed that the compiled FFS file is smaller than the precompiled one you have on the releases?

Would using that file be a better shot?

[2022-11-03 18:32] Tokobotenkai commented on #7
Now it doesn't boot, will swap out the GPU to the previous dGPU to see if it is an ARC Issue as ARC doesn't boot if reBAR is disabled.

This is the patched BIOS: https://drive.google.com/file/d/1mDD7r4XK-Y06pMB4TSTnIEewcTtfV8Te/view?usp=sharing

[2022-11-03 19:49] miyconst opened #8 "Enhance `Failed to write ReBarState UEFI variable` error message"
The `Failed to write ReBarState UEFI variable` error message provides zero information about the problem, but according to the [`SetFirmwareEnvironmentVariableExA`](https://learn.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-setfirmwareenvironmentvariableexa) docs, it should be possible to get at least something using the [`GetLastError`](https://learn.microsoft.com/en-us/windows/win32/

[2022-11-04 02:19] xCuri0 commented on #7
Try using smaller like sizes 9 (512mb) first in case the BIOS doesn't support large ones. Also sending your whole dmesg can be helpful

[2022-11-04 02:55] #8 closed

[2022-11-04 02:56] xCuri0 commented on #8
latest version print's the error from GetLastError. it's in releases

[2022-11-04 02:56] Tokobotenkai commented on #7
Okay, it boots with the Nvidia GPU. I guess installing the Arc Intel drivers screws the iGPU too as from what I am reading they are using the same driver.

I set the size to 9 and the Intel A380 boots.

Some outputs shows that it is not working:
[code]

[code]
I am starting to wonder if it is an issue with the Intel A380 driver. I have no Radeon cards nor any ReBar enabled card to test with in my

[2022-11-04 03:26] xCuri0 commented on #7
@Tokobotenkai looks like 4G decode isn't enabled or CSM is on and also the ReBarDxe driver isn't working.  ```kernel: pci 0000:03:00.0: reg 0x18: [mem 0xc0000000-0xcfffffff 64bit pref]``` shows a 256MB BAR during boot before Intel driver loads. If 4G decoding was working you won't need the ReBarDxe driver to work though if you're only using Linux.

[2022-11-04 03:30] Tokobotenkai commented on #7
At least in the BIOS, 4G Decode is enabled and CSM is disabled.

So I guess I did something wrong with the DXE BIOS modification?

[2022-11-04 04:11] xCuri0 commented on #7
yeah probably something wrong. do other sizes like 10, 11 or 12 behave differently ? also when you re run ReBarState does it show the previous value you put ?

[2022-11-04 04:17] Tokobotenkai commented on #7
The 2nd option always shows as zero for some reason.

Enter ReBarState Value
 0: Disabled

 32: Unlimited BAR size

It always shows as >0 no matter what value I set.

I just ran CMake and then Make in the ReBarState folder, is that correct?

[2022-11-04 04:19] xCuri0 commented on #7
does it not show "Current ReBarState" ?
![image](https://user-images.githubusercontent.com/29529557/199886523-fa334b17-ace7-44fa-9c19-a49092fba081.png)
here is mine on windows but linux should be the same

[2022-11-04 04:58] Tokobotenkai commented on #7
Okay a few findings.

The FFS file compiled by Windows and added into the BIOS and flashed doesn't work with Ubuntu for some reason, I flashed it multiple times.

The reason was because Ubuntu was showing llvmpipe instead of the Intel A380.

So I flashed the one I compiled and the A380 appeared as the display.

The ReBarState on Linux doesn't show Current State and can't change it too, could I hav

[2022-11-04 05:04] xCuri0 commented on #7
I pushed an update that prints more information in ReBarState. do you have efivars mounted at ```/sys/firmware/efi/efivars/``` because it looks like you don't.

[2022-11-04 06:09] Tokobotenkai commented on #7
Here are the outputs:
[code]

First time
[code]

Second time
[code]

[2022-11-04 12:20] xCuri0 commented on #7
@Tokobotenkai does dmesg show anything useful after you get those error messages ?

[2022-11-05 11:20] aquamacho1 opened #9 "GA-X79-UP4 (Sandy Bridge-E) semi-working with ReBAR ≤1GB"
- used `REBAR Legacy On.reg` file, without it there are no option to enable bar in amd control panel.
- mobo: GA-X79-UP4 rev 1.0
- Bios: F6a, Tried F7, F8g
- GPU: 6700XT
- ReBarDxe.ffs is applied
- 4G Decode is on
- CSM is 0ff
- PCIBus is OK see comment https://github.com/xCuri0/ReBarUEFI/issues/9#issuecomment-1307992761
- Tried Running 16GB of RAM (Dual Channel) instead of 32GB (Quad Channel)

Hi

[2022-11-05 11:29] aquamacho1 commented on #9
I`ve checked the bios, seems like i do not have any options called CSM, or above 4G decode.

[2022-11-05 16:17] Tokobotenkai commented on #7
Sorry for not replying, let me get home (I am out for the weekend with no access to my PC) and let me try doing it.

[2022-11-05 16:21] xCuri0 commented on #7
Problem is to do with BIOS nothing else. A user on win-raid figured out how to get it working following a guide meant for hackintosh [https://winraid.level1techs.com/t/experimental-resizable-bar-dxe-driver/89534/37?u=kuri0](https://winraid.level1techs.com/t/experimental-resizable-bar-dxe-driver/89534/37?u=kuri0)

[2022-11-05 16:31] Tokobotenkai commented on #7
Wow, that's actually cool.

I guess I am probably stuck then.

I am looking at some mining threads because that's where they try to enable 4G Decoding for their GPUs to see if there's any workaround.

Thanks so much for the help so far!

[2022-11-05 17:12] xCuri0 commented on #9
@aquamacho1 you need to enable the hidden 4G Decoding setting.

i can't be replying to everyone so i created a wiki page detailing how to do it [Enabling hidden 4G decoding](https://github.com/xCuri0/ReBarUEFI/wiki/Enabling-hidden-4G-decoding)

[2022-11-05 22:55] val3nt33n opened #10 "Z97 board can't allocate above 4G even with above 4g decoding enable in BIOS"
**System**
 - Motherboard: Asus Z97i-Plus
 - BIOS Version: 2704
 - GPU: Intel Arc A750 LE (supports up to 8GB BAR)
 - Above 4G decoding is enabled in BIOS
 - CSM is disabled
 - Applied PciBus | Remove <16GB BAR size limit patch
 - replaced NvramSmi module from an older BIOS(version 2103) to allow new uefi variable creation

**Description**
I modded the BIOS to enable rebar using your instructions

[2022-11-05 22:57] val3nt33n commented on #10
I tried looking at the memory range in DSDT but it's using some external symbols that I couldn't find anywhere in the other ACPI tables.
[code]

[2022-11-05 23:49] val3nt33n commented on #10
After setting pci=realloc at boot it looks like it manages to assign memory to the GPU

[code]
[code]

[2022-11-06 01:27] aquamacho1 commented on #9
@xCuri0 thx for your help, but it seems i have a problems with enabling it.
I did exactly step by step what wiki told, but in the end grub console says that i have GUID mismatch, and values are wrong (im entering 0x4 offset, but it says 0x01)

[2022-11-06 01:56] aquamacho1 commented on #9
Or i messed up 5. step in the guide, do i rename `modGRUBShell.efi` to `bootx64.efi` and replace stock bootx64.efi with modGRUBShell.efi right?

[2022-11-06 02:05] xCuri0 commented on #9
@aquamacho1 GUID mismatch doesn't matter. 0x04 and 0x4 are the same number so not a problem

Yes you do have to rename it

[2022-11-06 02:08] aquamacho1 commented on #9
Well, either i did something wrong or it just doen`t work, 1024mb is still my limit.

[2022-11-06 02:10] xCuri0 commented on #9
@aquamacho1 did you try setting it to 0x0, rebooting,  setting it to 0x1 and then again rebooting ? that's what i had to do to get it working on my mobo

if that doesn't work you can try using ```setup_var_3``` instead of ```setup_var_3``` for all the commands

[2022-11-06 02:11] aquamacho1 commented on #9
Yes, i did tried doing that method to, still nothing, i will try `setup_var_3` now.

[2022-11-06 02:31] aquamacho1 commented on #9
Nope, i think `setup_var_3` and `setup_var` are the same thing right? `var_3` shows same values as before.
I wonder if this is something to do with fact that intel says that my mobo only supports PCI 2.0 by default maybe?
When i had Nvidia 1060 gpu, by default i had to hack PCI 3.0 with that https://nvidia.custhelp.com/app/answers/detail/a_id/3135/~/geforce-gen3-support-on-x79-platform

[2022-11-06 02:50] xCuri0 commented on #9
@aquamacho1 if pcie 3.0 wasn't working you wouldn't be able to use rebar at all. your screenshot also shows working pcie 3.0

maybe you could try using AMIBCP to change it's ``Access/Use``` from default to enabled and then enabling it. also these x79 boards seem to have a ton of hidden bios options so maybe another setting is causing the problem.

[2022-11-06 02:58] aquamacho1 commented on #9
is this important?
[code]

[2022-11-06 03:01] xCuri0 commented on #9
@aquamacho1 i thin that it's not needed as it's disabled by default on my motherboard and 4g decode with 8gb bar still works

[2022-11-06 03:28] aquamacho1 commented on #9
AMIBCP wont open my bios file, or i dont know how to open it

[2022-11-06 03:41] xCuri0 commented on #9
@aquamacho1 correct AMIBCP version for your board is v4.55 it opens for me. Also did you try using the newer F7 version bios maybe it fixes this issue ?

[2022-11-06 03:55] aquamacho1 commented on #9
I did not yet, will do if nothing works.

meanwhile found these, how do i enable them? (im sorry, but i`ve never before modded bioses using hex)
![AMIBCP_4 55_vrlW0GP1Yf](https://user-images.githubusercontent.com/69878708/200153213-9b0ea953-e1df-45cb-a8ff-cd7749fba92d.png)

[2022-11-06 04:44] xCuri0 commented on #9
@aquamacho1 don't change anything except **Access/Use** to **USER** on **Above 4G decoding**. Otherwise you might get no boot. All this will do is make the option visible in the BIOS

[2022-11-06 04:44] aquamacho1 commented on #9
Flashed modded bios with 4G enabled by dafault, but no dice, checked with the grub console, it is was enabled afetr bios flash.
Interesting thing, after i got to windows and checked GPU-Z, above 4G Decode listed as disabled.

[2022-11-06 04:47] xCuri0 commented on #9
I guess you can try the F7 bios then

[2022-11-06 05:36] aquamacho1 commented on #9
Nope, all the same, can you give me your mobo name? i will check what options are enabled between your and mine. Maybe will find something.

[2022-11-06 05:38] val3nt33n commented on #10
Browsing through AMIBCP I found some PCIe settings that don't show up in BIOS. Not sure what these do or how to make them visible. All settings(both visible and hidden) have selected 'Yes' in the Show column. I'm confused why it says 'Yes' when it's hidden.
The Reserved Memory setting defaults to 10. I wonder if this is the 1GB limit.

![AMIBCP](https://user-images.githubusercontent.com/28529191/2

[2022-11-06 05:42] xCuri0 commented on #9
@aquamacho1 Gigabyte B75M-D3H

[2022-11-06 05:43] xCuri0 commented on #10
@val3nt33n can you also show the **Prefetchable Memory** description. I think that might be it not **Reserved Memory**

[2022-11-06 05:43] aquamacho1 commented on #9
what rev?

[2022-11-06 05:48] xCuri0 commented on #9
iirc it's 1.1

[2022-11-06 05:49] val3nt33n commented on #10
@xCuri0 it says "Prefetchable Memory Range for this Root Bridge"

[2022-11-06 05:52] xCuri0 commented on #10
try changing both to 13 I guess. but i think **Prefetchable Memory** is more likely the important one

[2022-11-06 07:12] val3nt33n commented on #10
I tried changing all 3 one by one. No difference. I think some of these settings are hidden because they are not implemented.

[2022-11-06 07:14] val3nt33n commented on #10
Oddly, if I enable on-aboard audio, only this device gets assigned at the end of the Large Memory. At least this confirms that above 4G decoding is working.
![audio](https://user-images.githubusercontent.com/28529191/200158849-4fa90a76-8017-446f-b9a3-3eee05afbd5d.png)

[2022-11-06 07:37] xCuri0 commented on #10
@val3nt33n my system allocates multiple devices in the 64-bit region (gpu not visible in screenshot because it's in large memory)
![image](https://user-images.githubusercontent.com/29529557/200159509-148fd6e2-cdee-42b9-9c98-a011799e5892.png)

Have you tried with **Reserved Memory** = 13, **Prefetchable Memory** = 13 and **Prefetchable Memory above 4G** = Enabled, all at the same time ?

[2022-11-06 07:44] val3nt33n commented on #10
I have. No change.

[2022-11-06 10:18] Tokobotenkai commented on #10
I have an i5-4690k and ASUS Z97-PRO but I only have Ubuntu 22.04 running on it. Any idea how can I contribute or something?

[2022-11-06 11:16] val3nt33n commented on #7
Have you tried this?
* download Bios Version 1204 from https://www.asus.com/supportonly/z97pro/helpdesk_bios/
* using UEFITool extract (as is) the NvramSmi module and save it to a file
* using UEFITool replace (as is) the NvramSmi in the bios that you are modding
* add the ReBarDxe driver as per @xCuri0's instructions
* using UEFITool extract (body) the AMI Aptio capsule. The result will be saved

[2022-11-06 12:17] Tokobotenkai commented on #7
I could try it.

For the body, you can actually open the ROM in a hex editor and paste into the unmodified BIOS file after a specific offset (800 for mine) to reinsert the body ROM into the capsule again.

Put the file into a FAT32 flashdrive and name the file accordingly and use BIOS flashback feature on the mainboard to load it in.

See this: https://winraid.level1techs.com/t/howto-get-full-nvme

[2022-11-06 17:56] Tokobotenkai commented on #7
Okay, seems like it works?

Rebarstate now shows the previous state, I can change the value too
[code]
[code]
[code]
[code]

I tried resizing to 8GB but similar issues that I am unable to post, the error code is AE which is legacy boot event?

[2022-11-06 18:26] xCuri0 commented on #7
@Tokobotenkai

this automatically happens after boot failure or booting without gpu (which wasn't functioning with 2gb BAR)

[2022-11-06 18:28] val3nt33n commented on #7
The BIOS automatically switches CSM back to enabled if video is not working. If you have an iGPU you can set that as the primary output in your BIOS. That will keep the CSM disabled and you don’t have to switch cards when you set ReBarState too high.

Anyway, I see that you are also getting rebar working only up to 1GB. The BIOS can’t allocate a BAR bigger than 1GB. This is the same problem that I

[2022-11-06 18:28] Tokobotenkai commented on #7
Yup, it attempted to boot twice. 4GB and 8GB had this issue. 2GB was a white static screen and 1GB works.

[2022-11-06 18:34] xCuri0 commented on #7
Not a limit, seems more like it's forcing it to be allocated into the 32-bit region. The address 0x80000000 is a 32-bit one and you can't find a 2GB of larger BAR in the 32-bit region.

[2022-11-06 20:03] Tokobotenkai commented on #7
Some interesting things I read as they are interested getting the Xeon Phi to work which requires a large BAR size, supposedly a patched ASUS Gryphon Z87 works (https://www.asus.com/supportonly/gryphon_z87/helpdesk_bios/). I am guessing that it goes correctly to 64 bit for the MMIO so maybe it is something for us to look at? Supposedly an ASUS Z97-WS works with their latest BIOS too.

Someone seem

[2022-11-06 20:41] aquamacho1 commented on #7
Well, im having exact same issue as you guys on my x79 board.

[2022-11-06 23:07] aquamacho1 commented on #9
So using your guide on DSDT patching from wiki, i`ve extracted and decoded AmiBoardInfo --> DSDT.aml --> DSDTMod.dsl
and found this in there:

[code]

Does this somehow related to the issue?

[2022-11-07 02:19] xCuri0 commented on #9
this is the relevant code
[code]

[code]

I do find it weird they are using ```CreateDWordField``` which can't hold a 64-bit address instead of ```CreateQWordField``` . Can you send a screenshot of Device Manager showing View -> Resources by Type Large Memory (like the below screenshot). It should show the resource range the DSDT gives.

[2022-11-07 02:39] cursemex commented on #10
Found this while surfing on the web: https://www.bios-mods.com/forum/Thread-GUIDE-How-to-modify-AMI-MSI-BIOS-to-unlock-full-features-UEFI-Aptio4

Step 5 made those options visible in BIOS

https://i.imgur.com/YVAiniE.png

https://i.imgur.com/gFxoUPa.png

https://cdn.discordapp.com/attachments/813843868763422751/1039006024054603817/20221107_052935.jpg

https://cdn.discordapp.com/attachments/8138438

[2022-11-07 02:57] val3nt33n commented on #10
@cursemex yeah, that’s what I did when I tested(it’s enough to set USER on the top menu and it will make everything under it visible). But playing with different setting in these new options didn’t do anything for me.

[2022-11-07 03:26] xCuri0 commented on #10
@val3nt33n in cursemex's screenshot it shows "PCIE Port 1 is assigned to LAN". The one with the GPU on is what needs to be changed.

[2022-11-07 03:35] Tokobotenkai commented on #10
I wonder if we have a working board and is there a difference in the order of assignment?

[2022-11-07 04:36] xCuri0 commented on #10
@Tokobotenkai

### Prazola on win-raid's Asrock Z97 Extreme9
![image](https://user-images.githubusercontent.com/29529557/200226125-6192c8a7-ebdc-4dc7-bfc4-e1b9ea7e1f46.png)
It also is different for Port 5
![image](https://user-images.githubusercontent.com/29529557/200227048-515170df-96d7-46c5-b61a-5d8a576f7721.png)

### My Gigabyte B75M-D3H
![image](https://user-images.githubusercontent.com/295295

[2022-11-07 04:49] val3nt33n commented on #10
They all say that(there is not option to change this). And I changed the settings on all ports. I also noticed that on higher ports there are more extra bus reserved and higher Reserved I/O. Playing with them didn't do anything for me.

[2022-11-07 04:55] cursemex commented on #10
Silly question, but how do I know which "root port" my gpu is connected to? HWinfo doesn't state the gpu to be on a "root port", but does  for my sound card.

[2022-11-07 05:26] aquamacho1 commented on #9
@xCuri0 i don`t have large memory :cry
![explorer_4lKwSlgYMT](https://user-images.githubusercontent.com/69878708/200232631-dab5e2fe-1eb4-4fd1-bd26-e1a1e58393f9.png)
![mmc_pubLK8XJk3](https://user-images.githubusercontent.com/69878708/200232731-a3c2aaed-b3d4-4aaa-9685-418a3197d984.png)

[2022-11-07 05:27] aquamacho1 commented on #9
![mmc_kBbNsN0IXe](https://user-images.githubusercontent.com/69878708/200232849-e5fde64c-58ff-4d44-a291-368202d57648.png)

[2022-11-07 05:40] xCuri0 commented on #9
@aquamacho1 4G decoding is on ? if you were getting resources error in windows with 4g decoding on that means the BIOS is still allocating the device properly and can be fixed with DSDT. otherwise it's very hard to fix (BIOS patching)

[2022-11-07 05:46] aquamacho1 commented on #9
@xCuri0 problem is i didn`t got to windows a single time after 1G size increase

Well, in the grub console it shows 0x01, so i think it is, unless 4G Decode is broken on this board.

[2022-11-07 06:34] xCuri0 commented on #10
i think i found the problem. PciBus driver is downgrading 64-bit resources to 32-bit ones automatically on Z97 it seems.

Asus Z97(bad)
![image](https://user-images.githubusercontent.com/29529557/200240893-225c8140-b028-4dd3-96cb-8a34ae74ee3e.png)

Asus Z77 (good)
![image](https://user-images.githubusercontent.com/29529557/200240995-51cd8699-2863-42c7-b45d-f862b5cf405e.png)

[2022-11-07 06:46] aquamacho1 commented on #10
@xCuri0 can this be related to my problem to ?

[2022-11-07 06:54] xCuri0 commented on #10
here's the hex patch if you want to try it. i don't think it will work though because probably have to fix like 3 other places

in PciBus.efi replace ```83 3E 06 75 06 C7 06 04 00 00 00 83 3E 07 75 06 C7 06 05 00 00 00``` with ```66 90 66 90 66 90 66 90 66 90 66 90 66 90 66 90 66 90 66 90 66 90```

[2022-11-07 08:08] val3nt33n commented on #10
I was getting ready to re-program the chip in case it doesn't boot anymore and to my surprise I found a tiny chip that I don't think I can program(see macro photo attached). My programmer is for a generic(much bigger chip) with fewer pins. Also I don't have USB flashback. The manual suggests that I can upload a new BIOS from a USB drive but inside the BIOS UI. Looks like I was adventuring in all t

[2022-11-07 08:09] val3nt33n commented on #10
@Tokobotenkai can you try to patch first since your board has dual BIOS
@cursemex I thin you can try it too.

@xCuri0 does the same code exist on Asus Z97-Pro?

[2022-11-07 08:26] val3nt33n commented on #7
From this https://www.insanelymac.com/forum/topic/317802-efi-variable-store-on-aptio-v-haswell-e-and-up/page/5/#comment-2535040
I assumed that any Asus BIOS released starting with October 2014 has this problem. So I looked for the last version before that month.

[2022-11-07 08:28] xCuri0 commented on #10
@val3nt33n yes it does (i tried uefipatch and it found and patched). There is the pad file problem though but I've written in README how to fix it.

[2022-11-07 08:46] val3nt33n commented on #10
@xCuri0 BTW is there any reason why you are suggesting to use MMTool to do the replacement instead of UEFITool?
I tried both and in the final file they have different size for the PciBus module. Not sure which one is correct. I have UEFITool_0.28.0_win32 and MMTool 4.50.0.23

[2022-11-07 08:50] xCuri0 commented on #10
MMTool doesn't mess up the pad file like UEFITool does. But MMTool can only replace the FFS unlike UEFITool which lets you replace the PE32 executable inside the FFS. Which is why in the README is says to create your modified FFS with UEFITool.

[2022-11-07 08:53] val3nt33n commented on #10
I see. When I replaced the NvramSmi module I used UEFITool because MMTool did not show the string for NvramSmi (it was empty at the line where it should have been.

[2022-11-07 09:53] Tokobotenkai commented on #10
I am going to work soon so probably get back to you guys in about 15-16 hours

[2022-11-07 09:54] Tokobotenkai commented on #7
@val3nt33n Great catch there!

[2022-11-07 10:10] xCuri0 commented on #10
@Tokobotenkai Use UEFIPatch to do it as it's the easiest way you just have to put the UEFIPatch code in patches.txt and run UEFIPatch on the BIOS file in command line. You still do have to do the workaround with MMTool to avoid getting no boot because of pad file problem though (it's in README).

[2022-11-07 10:27] val3nt33n commented on #7
The credit goes to @xCuri0 for pointing me to it.

[2022-11-07 13:24] xCuri0 opened #11 "List of working motherboards"
Motherboards which don't support at least 2GB BAR size are considered not working.

Use this format in your comment:

* Motherboard: (motherboard model)
* GPU: (gpu model, include vram if it comes with multiple vram sizes)
* UEFIPatch: (yes or no depending on if you needed it)
* DSDT Patch: (yes or no depending on if you needed it)
* BAR Size: (BAR size that GPU-Z (Windows) or ```lspci``` (Linux)

[2022-11-07 14:19] aquamacho1 commented on #9
@xCuri0 can you help me figure out what do i put in these? i have two of them, one is _Y05 and another is _Y0B, both are the same.
[code]
My cpu address size are 46 bits physical, 48 bits virtual

[2022-11-07 15:06] xCuri0 commented on #9
If you can't POST DSDT edit won't help. It only will help if you have problems booting Windows (with Linux working). I'm not sure about those DSDT values I've only edited the CreateQWordField stuff

[2022-11-07 15:15] aquamacho1 commented on #9
@xCuri0 Yep, you right.
I think those 0x0000000000000000 values this is not the problem. I`ve just checked DSDT file from mobo in #1 post.
That X79 Supermicro x9dri-ln4f+ had working ReBAR, but has the same exact values as mine and the rest X79 bioses that i`ve checked.
I think key is that it has MMIOH in it, i think this is the problem, or smth else that i dont know.

[2022-11-07 17:46] Pentium320 commented on #4
Hi,
Looks, like I'm having the same issue on X99 platform, maybe there is something, that could be helpful.

- CPU: Intel Xeon E5-2697 v3 2.6GHz
- Motherboard: ASRock X99 Extreme4
- BIOS Version: 3.60 (with Turbo Unlock mod)
- GPU: AMD Radeon RX 6700 XT 12GB

Behaviour is the same as in this thread after applying ReBAR patch:
up to 1024M (2^10) - ReBAR seems to be working as intended
2048M (2^11)

[2022-11-07 20:49] sidex15 commented on #11
![owmgcty](https://user-images.githubusercontent.com/24408329/200412078-0ae861f9-2def-4ea9-89d1-b5ec7af2e209.png)
Chinese Unbranded X79 motherboard...

[2022-11-07 22:26] Tokobotenkai commented on #10
@xCuri0 Just to check, I extracted the body from the CAP, and applied the patch using UEFITool, where do I get the MMTool? Is there a linux version?

[2022-11-07 23:50] aquamacho1 commented on #9
I completely forgot to mention that i 've used `REBAR Legacy On.reg` file, without it there are no option to enable bar in amd control panel.

[2022-11-08 00:16] val3nt33n commented on #10
* run UEFIPatch Z97PRO.cap patches.txt -o Z97PRO-patched.cap
* use UEFITool to extract(as is) the PciBus module from the patched file and save the result in a .ffs file
* use MMTool (got to replace tab) and load Z97PRO.cap In the Browse section load the .ffs file
* got to PciBus line, click on it and then click on Replace, then save the result to a new .cap file(this is now the patched bios that y

[2022-11-08 00:18] cursemex commented on #10
Thanks for this. I was tryina figure it. I'll do the steps and give you an update

[2022-11-08 01:00] val3nt33n commented on #10
OK, so after you flashed, the system booted normally? You saw problems only once you experimented with larger bar sizes?

You can try to clear CMOS if a large bar doesn't boot(or you can set iGPU as default right after you flash, if you have one), instead of recovering the BIOS.

[2022-11-08 01:03] cursemex commented on #10
No problems going up to 8GB from my observation aside from 1 long beep after post.
I'll redo the testing to confirm it.

As for clearing CMOS, I've noticed that it doesn't like my dedicated gpu on. It'll keep beeping and rebooting until I remove the gpu, then it'll switch to iGPU. I haven't tried it this time around, though.

[2022-11-08 01:05] val3nt33n commented on #10
Can you show device manager (View->Resources by Type) and expand Large Memory with 8GB?

Your GPU has 12GB of VRAM, no? In that case the max BAR you would need is 16GB.
To get 16GB working you probably also need this patch

[code]

[2022-11-08 01:06] cursemex commented on #10
I was thinking about applying it too, but didn't. Let me restart the process and remake the roms and test it again.
And yes, my gpu is 6700XT 12GB.

[2022-11-08 02:09] Tokobotenkai commented on #10
I did another way:
1. I patched the modified Body ROM file
2. Using a hex editor, I pasted the entire patched ROM file into the unmodified Capsule file after the offset
3. Flashed using USB Flashback

For some reason, my USB wireless keyboard is not detected on boot, but if I unplug and replug the dongle it works, else once Ubuntu boots, it is automatically detected.

For now ReBar up to 8GB work,

[2022-11-08 02:25] xCuri0 commented on #10
@cursemex 16GB doesn't work because the BIOS only uses 0xC00000000 (48GB) to 0x1000000000 (64GB) for resource allocation (see Large Memory in Device Manager). It's easy to patch though (did it for the Z97 user on win-raid) so I can make a fix for it but DSDT needs to be edited.

[2022-11-08 02:28] cursemex commented on #10
If you do make them, I'll happily test it out. I may be slow in doing so in the upcoming days due to school though.

[2022-11-08 02:35] xCuri0 commented on #4
If anyone wants to try and develop patches to fix it you can search for "ffffffff000" in PciBus module on your disassembler find the code that reads the BAR size and categorizes them as 32-bit (4/5) or 64-bit (6/7).

[2022-11-08 04:22] Tokobotenkai commented on #11
Would my Z97-Pro be considered working? I haven't tried the 16GB patch (only tested to 8GB), but it needs the replacement of the older 1204 NvramSmi module and the PciBus UEFIPatch to work. The GPU tested is the Intel Arc A380 (will test the A770 once I get a replacement power supply).

[2022-11-08 04:55] Tokobotenkai commented on #10
From Hardinfo in Ubuntu,
[code]
c00000000 (48GB) to dffffffff (56GB)

So without editing the DSDT, only 8GB is the maximum, am I interpreting correctly?

[2022-11-08 05:01] xCuri0 commented on #10
@Tokobotenkai it's 800000000 (32GB) to fbfffffff (63GB) (PCI Bus 0000:00) which should be good for upto 16GB BAR.

[2022-11-08 05:05] Tokobotenkai commented on #10
@xCuri0 Okay, will try it with A770, just to clarify a bit, I can set it to 16GB when my system only have a total of 16GB of RAM without crashing right?

[2022-11-08 05:06] xCuri0 commented on #11
@Tokobotenkai anything 4GB or higher is considered working but if you find a larger size doesn't I can add a note

[2022-11-08 05:08] xCuri0 commented on #10
@Tokobotenkai yes. only if you use 32GB RAM there might be a problem because no free address space.

[2022-11-08 05:13] Tokobotenkai commented on #10
@xCuri0 Okay thanks! Let me get back to you then.

[2022-11-08 06:49] val3nt33n commented on #10
@Tokobotenkai it doesn't matter how much RAM your system has. The GPU BAR is not allocated from the physical RAM.
It's allocated from the virtual space(Haswell's virtual space is 512GB), within the limits allowed by your BIOS.
So, you can have a system with only 4GB of RAM and still be able to use a GPU with a 16GB BAR. They are both independent and are both mapped in the virtual space for easy ac

[2022-11-08 08:05] EDK-Rise commented on #11
Hi, i have z270 m7 with 7700k. my motherboard has 4G decoding in bios. how to patch my bios?
here my bios link:
https://download.msi.com/bos_exe/mb/7A57v10.zip

[2022-11-08 09:22] Tokobotenkai commented on #10
@val3nt33n Understood! Thank you.

[2022-11-08 16:02] xCuri0 commented on #11
@EDK-Rise GTX 1080 doesn't support resizable bar

[2022-11-08 16:38] LatiosAeon opened #12 "ASUS Z170-WS Semi-working with ReBAR"
**System**
 - Motherboard: ASUS Z170-WS
 - BIOS Version: 3062
 - GPU: RTX 3080 Ti FE

**Description**
The ReBAR module has been placed in the correct volume, it was extracted and replaced per instructions for "ASUS no boot after patching" but with the same failing result, the script appears to be working but only with 512MB, 1024MB and higher always results in the system completing POST checks but

[2022-11-08 21:34] aquamacho1 commented on #11
@sidex15 But can you actually check what a name of this board?, im trying figure out how to patch mine X79, checking whats the difference between them, maybe i will find something.

[2022-11-08 23:51] aquamacho1 commented on #9
@xCuri0 soooo i've checked mine PCIBus.efi file, it looks alright, any ideas?

![javaw_eFast86prF](https://user-images.githubusercontent.com/69878708/200700985-16b435be-ebe1-41c7-8480-80a82ad8b191.png)

[2022-11-09 01:30] Mak3rde opened #13 "Asus X99-A II Working ready to use file download and tutorial - unlocked NVram / modified pcibusdxe / injected rebardxe"
EDIT:

Working Rebar with Unlimited Size.

Notice:

## MAKE THE BIOS BACKUP FIRST

- I would not recommend using afuwin to flash the uefi, my recommendation is clearly to use afuwin only for uefi backup.
- Flashing with the BIOS-FLASHBACK from the mainboard is easy and safe.
- Alternatively, you can flash the bioschip directly using a flasher, but this requires extra hardware and a second computer

[2022-11-09 01:45] aquamacho1 commented on #9
@xCuri0 Can you make a screenshot like above of a region where this patch is supposed to be, i will check my PciRootBridge.
# PciHostBridge | Remove <4GB BAR size limit in SubmitResources (Ivy Bridge)

[2022-11-09 02:13] xCuri0 commented on #13
Hi the problem here is with NvramSmi not allowing EFI variables to be written. Other users were able to fix this by downgrading NvramSmi or BIOS with one from 2014.

A patch needs to be developed for your NvramSmi to remove the variable name restriction. I do think those on Hackintosh forums have already figured it out.

[2022-11-09 03:44] xCuri0 commented on #9
I don't think that's the cause. 2GB would work then

[2022-11-09 03:54] val3nt33n commented on #10
I plan to try the patch myself tomorrow once I'm done with work.

[2022-11-09 06:27] xCuri0 commented on #10
@cursemex you can try this along with the "Remove <16GB BAR size limit" patch. It worked for a user on win-raid with 16GB GPU (RX 6900XT) and 16GB RAM. Not sure if it will work with 32GB RAM but it's worth trying

[code]
yes i know it's really long

[2022-11-09 07:46] cursemex commented on #10
Unfortunately, it doesn't apply the patch.
![image](https://i.imgur.com/nGWB6sq.png)
Used with "Don't downgrade 64-bit BARs to 32-bit (Haswell)" and "Remove <16GB BAR size limit (Ivy Bridge/Haswell)"

Having "Replace 8-16GB MMIO region with complete use of 64GB address space (Haswell)." by itself didn't work as well.
![image](https://i.imgur.com/YhG49es.png)

[2022-11-09 07:54] xCuri0 commented on #10
@cursemex didn't you mention that you had to use BIOS version 1104 to get ReBarState working or did you fix the NvramSmi problem on the new one ? It applies to BIOS version 1104 without problem for me

[2022-11-09 07:57] cursemex commented on #10
@xCuri0 my bad for not clarifying it clearly. I did extract Nvramsmi from 1104 and replaced it in 3503 during these tests after reading it from val3nt33n.

[2022-11-09 10:30] cursemex commented on #10
@xCuri0 I've tested it with the 3 Haswell patches on the 32GB. I get 6 beep error "GPU failure". There's the 1 short beep error(DRAM refresh failure) I've mentioned before when I apply 512MB-8GB.

On the 16GB, it worked, but the resizable bar isn't working on AMD's Adrenaline.

![image](https://i.imgur.com/TjPvqN3.png)

![image](https://i.imgur.com/GBHfcAp.png)

[2022-11-09 10:41] xCuri0 commented on #10
@cursemex i've seen one person with the same problem fix it with a ddu driver reinstall. could try that

i do think that it could be made to work with 32GB GB on the latest BIOS using a different patch which i have to make. the hardware is capable unlike older ivy bridge.

[2022-11-09 10:51] cursemex commented on #10
@xCuri0 I was about to retract my statement. I couldn't get into safe mode to use DDU (I think it's related to the DRAM refresh failure. Keyboard was not detected), so I uninstalled the drivers normally and reinstalled it.

I'll put a the [1104 firmware](https://mega.nz/file/JIQHiYJQ#pexuV8GxTQP-aGmKcmcb2RKsScTTTUYBnkDmzQ0pdi4) up for those who have 16gb and want to use it :)

![image](https://i.i

[2022-11-09 10:55] xCuri0 commented on #10
will add your motherboard to the working list with a note of 32GB RAM + 16GB BAR not working.

[2022-11-09 11:23] cursemex commented on #10
If you get around to rewrite the patch for 3503 later with a possible fix for 32gb ram I'll test it. I'll update my post on winraid with performance differences screenshots and 1104 linked after I wake up later :)

[2022-11-10 05:06] val3nt33n commented on #10
I confirm that **PciBus | Don't downgrade 64-bit BARs to 32-bit (Haswell)** patch works.  Thanks a lot @xCuri0
![arc control](https://user-images.githubusercontent.com/28529191/201005466-3f37c85b-5378-4a40-916d-e8033370c079.png)

[2022-11-10 06:29] val3nt33n commented on #10
I tried some games and none of them work. They crash shortly after they start loading to VRAM.

[2022-11-10 06:34] xCuri0 commented on #10
@val3nt33n does a driver reinstall help ? me and several other amd users don't have any instability but i think you're the first one to try on windows with arc.

[2022-11-10 06:41] val3nt33n commented on #10
I did reinstall the driver (after DDU) and no change. I tried lowering the BAR size and only at 1GB is stable. Above 1GB all games crash.

[2022-11-10 06:43] xCuri0 commented on #10
@val3nt33n can you send a screenshot showing Device Manager Resources of the GPU with 1GB BAR ? To see if 1GB BAR makes it allocated in the 32-bit space

![image](https://user-images.githubusercontent.com/29529557/201019110-057fd289-4e17-4914-a761-210406c4d167.png)

[2022-11-10 06:47] xCuri0 commented on #10
@cursemex you can try this patch with the 3503 BIOS and 32GB RAM

[code]

If that one doesn't work you can try this one though it's less likely to get 16GB BAR and 32GB RAM working
[code]

[2022-11-10 06:50] val3nt33n commented on #10
I increased the graphical settings in AC Valhalla(which uses more VRAM) and it crashed even with 1GB

![1GB](https://user-images.githubusercontent.com/28529191/201020330-fd352e75-01ea-4292-b62e-e7ff5f5ae742.png)

[2022-11-10 06:51] xCuri0 commented on #10
@val3nt33n send one with 256MB then. if 256MB still crashes then you need to use the stock BIOS.

[2022-11-10 07:02] val3nt33n commented on #10
I could not reproduce that 1 crash with 1GB anymore. I even increased settings to Ultra.

[2022-11-10 07:20] sidex15 commented on #11
well after deep diving in the russian overclocking forums I found that my board is Jingsha X79M-S 1.0 the [Picture is the same as mine](https://forums.overclockers.ru/download/file.php?id=198638&sid=283a7a2da6f2db91e16ff2239d8076ce&mode=view)...

I just followed the X99 guide from Miyconst and use [Enabling hidden 4G decoding](https://github.com/xCuri0/ReBarUEFI/wiki/Enabling-hidden-4G-decoding)..

[2022-11-10 07:29] aquamacho1 commented on #11
@sidex15 This is awesome, thx.

[2022-11-10 07:43] val3nt33n commented on #10
Most games just crash to desktop without any error. This one did throw an error(using 8GB)
![SOTR crash](https://user-images.githubusercontent.com/28529191/201029571-fd8a74a0-b7d0-4199-ac0b-03655124dcfd.png)

[2022-11-10 07:44] val3nt33n commented on #10
Well, it was a fun experiment. I don't think this can be fixed.

[2022-11-10 07:56] Mak3rde commented on #13
Thx for that info, i will look into it until i got it working and post a how to here.

[2022-11-10 08:49] xCuri0 commented on #10
I don't have much knowledge about how PCIe devices work/memory attributes etc but I do think with the increased popularity of this module these issues will eventually be figured out.

[2022-11-10 08:50] xCuri0 commented on #11
@sidex15 I think macOS doesn't support large BARs not a problem with the bios or anything

[2022-11-10 09:06] soulpower11 commented on #4
My High Definition Audio Bus got disabled too
![image](https://user-images.githubusercontent.com/5299979/201047643-2b4e14e4-ed53-4f4a-99ca-6df0d56eed7e.png)

Not sure what to do as I am new to bios modding

[2022-11-10 09:30] sidex15 commented on #11
Yeah i'm using opencore 0.8.3 even with resizeapplegpubars set to 0 won't even boot to macOS...
I guess it's still using the max BARs...
I'll try lowering the BAR size see if it boots...

[2022-11-10 10:33] cursemex commented on #10
@xCuri0 Okay, I wasn't crazy. I tried the first patch multiple times and got the gpu failure beeping code even with 16gb of ram. Lo and behold, for some reason 4G decode was off according to GPU-Z even though it is turned on in the bios.
I haven't tried to force 4G decode on via bios or EFI.

![image](https://i.imgur.com/6qpvCTZ.png)

The second patch worked with 14-15 values with both 16GB and 24

[2022-11-10 10:53] xCuri0 commented on #10
@cursemex does seem like the BIOS doesn't want to allocate to addresses above 64GB (despite haswell supporting upto 512GB). Force enabling 4G decode or anything isn't going to help. It probably would be fixed with a different patch.

Atleast the second patch is working with 16/24GB. Getting 16GB BAR working with 32GB RAM is going to be a challenge.

[2022-11-10 14:07] xCuri0 commented on #10
yes you need it. others 16GB and larger BARs don't work

[2022-11-10 15:07] Mak3rde commented on #13
Got it working partially, need to patch the above 1gb restriction it seems

# NVRAM whitelist unlock
54B070F3-9EB8-47CC-ADAF-39029C853CBB 10 P:0F84B300000041F6:90E9B300000041F6

[2022-11-10 18:17] Tokobotenkai commented on #10
@xCuri0 Patched and working somewhat.

I still get the not detected keyboard issue randomly, not too sure if it is the age of the system.

I do get the same UEFI driver errors randomly at 16GB compared to 8GB.

@val3nt33n I am able to run SoTR on Linux natively. Anything vulkan related works fine. OpenGL games are horrible.

[2022-11-10 18:37] val3nt33n commented on #10
@Tokobotenkai Thanks for checking. I only tried Windows gaming. I guess it's worth trying Linux as well.

[2022-11-10 19:45] Tokobotenkai commented on #10
@val3nt33n Considering the age of the system, I was actually thinking to try upgrading the RAM from 1333MHz to 2400MHz and maybe the processor to a 4790k. But because I have an existing Ryzen 3600, I wonder if it is worth doing so and instead buy a cheap B450 mainboard+3200MHz RAM because I just want to test the Arc A770 (the former is like 30USD more than the latter).

[2022-11-10 23:25] sidex15 commented on #11
@xCuri0 yep you're right setting a rebar size of 256mb boots to macOS... I also found out that my motherboard is Jingsha X79M-S 1.0 after digging in the Russian overclocking forum...

[2022-11-11 09:04] aquamacho1 commented on #9
@xCuri0  so i think i maybe found the problem in my case, on my mobo ReBarUEFI driver is allocating its space not from virtual space, but from System Board Resources instead
[code]
Those two sections is what appears to be my ReBAR values (1GB and 256M respectively)

[code]

[2022-11-11 09:21] aquamacho1 commented on #9
And i think this section probably is what responsible for mine problems booting bigger ReBAR values.
[code]

[2022-11-11 09:40] val3nt33n commented on #10
@xCuri0 I found the problem that was causing crashes with large BARs. I checked Windows Event log and found that it was running out of virtual memory(pagefile was too small). So, after I increased that no more crashes with 8GB BAR.

![event log](https://user-images.githubusercontent.com/28529191/201312113-f1d9c5f9-06a8-4df0-8abc-3baf84dba439.png)

[2022-11-11 10:32] BartekJablonski opened #14 "Gigabyte Z97X-Gaming 3 hidden 4G Decoding"
MOBO: Gigabyte Z97X-Gaming 3
BIOS: F8e (not available on GB page, i got it from Support. This bios add support for TPM 2.0)
CPU: Intel Xeon E3-1285L v4
GPU: RX 6900XT
CSM disabled, SecureBoot enabled, TPM 2.0 Enabled

Im curiousto check if Re-Bar can work on my motherboard using this instruction:
https://github.com/xCuri0/ReBarUEFI/wiki/Enabling-hidden-4G-decoding

Im stuck on 4 step. I find 4G De

[2022-11-11 11:42] Mak3rde commented on #13
@xCuri0 got it working.

edited initial post.

[2022-11-11 12:07] aquamacho1 commented on #9
@xCuri0 when im trying rebuild DSDT.dsl, im getting so much errors, do you by any chance know whe there are so many?
This is stock file without any changes after decompile.
Maximum error count (200) exceeded
[badcode.zip](https://github.com/xCuri0/ReBarUEFI/files/9990079/badcode.zip)

[2022-11-11 12:18] xCuri0 commented on #9
you have to manually fix each error which isn't easy tbh especially when there are so many. my DSDT only had 2 and were fixable with a few google searches.

[2022-11-11 12:20] xCuri0 commented on #13
your patch for PciBus has been added in commit [16712446c800707822dc4e37964abe0c85fc6e50](https://github.com/xCuri0/ReBarUEFI/commit/16712446c800707822dc4e37964abe0c85fc6e50)

[2022-11-11 12:20] #13 closed

[2022-11-11 12:23] xCuri0 commented on #7
@Tokobotenkai if 16GB works on the A770 (with all the required patches) I can close this issue.

[2022-11-11 12:25] xCuri0 commented on #10
Since everyone here has got resizable BAR working properly I'm closing this issue.

@cursemex still has the problem with 32GB RAM + 16GB BAR but that's a different issue and a new issue for that can be created if needed.

[2022-11-11 12:25] #10 closed

[2022-11-11 12:27] aquamacho1 commented on #9
@xCuri0 i can't find any of the code from badcode file in the stock file O_o, there is something wrong here.

[2022-11-11 12:34] xCuri0 commented on #12
@LatiosAeon Try using UEFIPatch with the patches.txt from the UEFIPatch folder on it.

[2022-11-11 13:55] Mak3rde commented on #13
@xCuri0  nice!

Maybe you should add the info that this patch is specifically for the Asus X99a-II because the other patch that already was in the patch.txt and had Haswell written to it wasn't working on my bios, so I would assume thy my patch won't work on other platforms too. Maybe it's working for other Asus x99 boards, but I could test that.

[2022-11-11 14:40] aquamacho1 commented on #9
@xCuri0 i did compiled DSDT with both 2013 and 2022 IASL without an errors, but resulting files are identical to decompiled. Amiboardinfotool creates amiboardifo.efi from compiled before DSDT, but its 325kb in size and its has some spagetti code at the beginning and the rest is similar to decompiled.
I give up :(

[2022-11-11 14:54] xCuri0 commented on #13
@Mak3rde actually it does seem to apply to an ASUS Z170-WS board with similar issue. waiting to see if it works for them

[2022-11-11 14:56] LordAdo96 opened #15 "ReBar on my ga-z97x Gaming5"
**System**
 - Motherboard:  ga-z97x Gaming5
 - BIOS Version:  F7
 - GPU:   RX 580
![rbar](https://user-images.githubusercontent.com/118001042/201365289-26c17978-26c1-476b-a7e8-cef8104f5bf4.png)

So i managed to mod bios and flash but i can only have 1024mb.. if i go 2gb or 4 or 8 my pc wont boot.. is there any fix or im stuck with 1gb?

[2022-11-11 15:05] xCuri0 commented on #15
4G Decoding on and CSM off ?

UEFIPatch applied ?

[2022-11-11 15:10] LordAdo96 commented on #15
CSM is disabled but 4g Decoding i cant find.

[2022-11-11 15:12] xCuri0 commented on #15
Gigabyte Z97 boards don't have the 4G decoding option even in hidden settings. I'm sure it can be patched to enable it tho.

[2022-11-11 15:14] LordAdo96 commented on #15
Hmmm i there any way i can do it or is it risky.. or myb to stay at 1024?

[2022-11-11 15:16] xCuri0 commented on #15
@LordAdo96 patch to fix it doesn't exist yet. I had a 12% FPS gain in Cyberpunk 2077 with 2GB BAR size on RX 580 8GB I'm sure 1GB gives an increase too.

[2022-11-11 15:18] LordAdo96 commented on #15
Yeah you right.. i think i got as far as i can go.. i mean im new in this whole thing. Thank you very much!

[2022-11-12 01:16] sidex15 commented on #14
seems like the it is not included in the setup configuration in the bios... and only counted as a Bios String...

[2022-11-12 02:42] Tokobotenkai commented on #7
Yup, consider it solved. Thanks man

[2022-11-12 08:14] BartekJablonski commented on #14
I checked older bioses. F8d and F7 do not include 4G Decod as a string. F6 have one mention, but still not included in txt output.

[2022-11-12 19:31] LatiosAeon commented on #11
ASUS Z170-WS & Intel ARC A770, BAR size set to unlimited and the full 16GB worked
<img width="960" alt="2022-11-12 (5)" src="https://user-images.githubusercontent.com/117758487/201490801-5e9c07b5-bd0d-4ee5-9842-82594804b95c.png">

[2022-11-12 21:01] LatiosAeon commented on #12
Ok, So I managed to figure out how to use UEFIPatch being as simple as drag and drop... and I've now only applied the patches.txt from the main file here and now its working, got the full 16GB BAR on the ARC A770, also done the same method to an ASUS Z170 Sabertooth MK1 and it now also has working ReBAR

[2022-11-13 01:54] #12 closed

[2022-11-13 12:57] xCuri0 commented on #4
Try booting Linux with 4GB+ BAR and seeing what dmesg says.

[2022-11-15 22:22] kodekq commented on #11
A big thank you @xCuri0 and @Mak3rde
Asus z170-a, 5700xt and use patch "Don't downgrade 64-bit BARs to 32-bit (by @Mak3rde)"
![Screenshot_3](https://user-images.githubusercontent.com/51699125/202037187-10601bb0-de32-4d39-9ebd-d29f6ddc73ab.png)

[2022-11-16 08:15] gyhmz commented on #11
MZ32-AR0 (rev. 1.0) +ARC A380 +TESLA M40
Before:

<img width="2031" alt="Screenshot 2022-11-16 053932" src="https://user-images.githubusercontent.com/95202722/202123944-8199a826-1f60-4138-9c0d-d136b9cb3cfb.png">
<img width="1907" alt="Screenshot 2022-11-16 053840" src="https://user-images.githubusercontent.com/95202722/202123963-26e8183e-6226-4aea-ba40-5acd365fa445.png">

After inserting ReBarDxe.

[2022-11-16 13:43] aquamacho1 commented on #9
Update: So from MacOS using MaciASL in legacy mode i`ve edited and recompiled DSDT with those lines removed/edited below and some more, but no luck, these related to something else i guess.
https://github.com/xCuri0/ReBarUEFI/issues/9#issuecomment-1311420328
https://github.com/xCuri0/ReBarUEFI/issues/9#issuecomment-1311438724

[2022-11-16 16:08] xCuri0 commented on #11
@gyhmz Tesla M40 doesn't have ReBar it just has a large BAR by default.

[2022-11-16 16:15] xCuri0 commented on #9
@aquamacho1 to my knowledge DSDT editing won't solve problems where you can't even POST. Only if you can't boot OS or OS gives no resources error it can hep

[2022-11-16 21:00] aquamacho1 commented on #9
@xCuri0 i was thinking about to replace PCIBus or Rootbridge\other drivers from another mobo, but im scared it may cause damage to the board or gpu :(

[2022-11-17 11:52] CiprianFlorin-Ifrim commented on #11
I can confirm it works on a Supermicro H11DSi-NT (tested with bios v1.3, should work with the v2.4 as well). Tested with a 4090 FE.
GPU-Z says 3 bars are available - 16MB, 256MB, and 32GB.

Thanks a lot for making this tool.

[2022-11-17 19:38] Divin1ty666 commented on #11
@Tokobotenkai Hey! Do you mind sharing modified bios for z97-pro, please?

[2022-11-18 06:29] Tokobotenkai commented on #11
There you go: https://drive.google.com/file/d/1yZb9LkaTvvBjAkJfGSO-hPgm2L_W9SWH/view?usp=sharing

I have random issues where my keyboard and mouse is not detected on boot, not sure if it is a dying USB or a BIOS issue though.

[2022-11-18 06:50] cursemex commented on #11
@Tokobotenkai I have them on my Hero too. Funny enough they only occur after setting rebar state value.

[2022-11-18 06:53] Tokobotenkai commented on #11
I suspect it is some device being mapped in the same error, but the error is intermittent. I workaround it by using a PS2 keyboard.

[2022-11-18 22:16] aquamacho1 commented on #9
@xCuri0 do you know if there is a way to modify `PciRootBridge` anyhow? i mean if there no way to edit those, its over for my board, i think problem in my case is MMIO missing from `PciRootBridge` and another file.

[2022-11-19 01:54] xCuri0 commented on #9
@aquamacho1 the problem is it's not allocating addresses in the 64-bit region. i don't know anything about modifying PciRootBridge though

[2022-11-19 10:28] Divin1ty666 commented on #11
@Tokobotenkai Thank you!

[2022-11-19 13:30] kkkyloo commented on #11
![image](https://user-images.githubusercontent.com/92991764/202853086-10c50f0d-5f74-4dd4-8e5d-014218554846.png)
machinist mr9a pro v2 work with re bar, but windows starts up slowly

[2022-11-19 13:33] supermanz87 commented on #11
Injected FFS rebar into bio's on **Asus x99 Strix** with xeon mod and enabled 4G Decoding  in bio's correctly.

System spec's-
x99 strix motherboard
60gb ddr4 2133mhz
E5-2696 V3 @3.4Ghz 18/36 All turbo unlock FFS Mod
Nvidia RTX 3060Ti
samsung 970 nvme
Windows 11 pro x64 (Uefi Mode)

Rebar exe not injecting script in windows 11 pro x64

Obtained SE_SYSTEM_ENVIRONMENT_NAME
ReBarState variable doesn'

[2022-11-19 13:42] xCuri0 commented on #11
@supermanz87 you have to use UEFIPatch. it's described in the README how to use it

[2022-11-20 17:23] SEt-t commented on #11
Asus Z170-P D3 : requires patch "Don't downgrade 64-bit BARs to 32-bit (by @Mak3rde)"
![geforce](https://user-images.githubusercontent.com/70444390/202915132-0c622d22-1245-45fb-b666-6b59b07bba10.png)
![radeon](https://user-images.githubusercontent.com/70444390/202915151-5bbe2af8-ad08-494c-840f-23c32bcf7a53.png)

[2022-11-20 20:09] cursemex commented on #11
@xCuri0 I found this:
https://github.com/LongSoft/UEFITool/pull/116#issuecomment-370165778

`842A454A-75E5-408B-8B1C-36420E4E3F21 10 P:9801000072:0000000072`

Vit9696's code allows for nvramsmi to write on UEFI for Z97's Asus motherboards like my Maximus VII hero. Already tested it, and it seems working.

[2022-11-21 03:03] xCuri0 commented on #11
@cursemex thanks for finding this. i've added it to patches.txt

[2022-11-21 09:20] Divin1ty666 commented on #11
So I've modified my Asus Z97 Deluxe bios with FFS DXE module, then patched it with those patches: **# NvramSmi NVRAM whitelist unlock (by @vit9696)** and  **# PciBus | Don't downgrade 64-bit BARs to 32-bit (Haswell)**.

All successful, flushed bios - it loaded. Enabled 4G Decoding and disable CMS. Although I'm not sure if some ReBar option should appear in bios menu as well? Because it doesn't.

B

[2022-11-21 09:44] cursemex commented on #11
@Divin1ty666 No, you shouldn't see any options for ReBar. Once you've set your Rebar Value, you should aee it in GPU-Z.

If you can't get into windows, then that's because you jumped to a high value than to try smaller values to see which one is more stable. Try clearing CMOS, if that doesn't work, disconnect your GPU (Removing power cable from it should suffice), then connect your display cable i

[2022-11-21 12:31] Divin1ty666 commented on #11
**cursemex** I have 16Gb, but  **# PciHostBridge | Replace 8-16GB MMIO region with complete use of 64GB address space (Haswell).** patch cannot be applied: **No patches can be applied to input file**, all other patches are applied already.

[2022-11-21 12:43] xCuri0 commented on #11
@Divin1ty666 what's your GPU ? If it's a 32GB BAR such as 3090 it won't work even with 16GB RAM

[2022-11-21 12:46] Divin1ty666 commented on #11
**[xCuri0](https://github.com/xCuri0)** rx 6700 xt

[2022-11-21 13:01] xCuri0 commented on #11
@Divin1ty666 do smaller bar sizes atleast work ? start with 512mb and increase till you get the issue

[2022-11-21 21:50] Divin1ty666 commented on #11
**@Curi0**  So should I start with "1"? Or what value should enter for 512mb? I don't get I how they correspond, I know 0 means disable and 32 is max, right?)))

[2022-11-24 01:55] Intelevande commented on #11
Hello, I believe I have rebar working on my MSI Z97 Gaming 5 w/ HP 3060 Ti (OEM) and 32GB RAM
![rebar_z97](https://user-images.githubusercontent.com/101446822/203676686-e8460cb6-2b29-48a2-a318-43c042c4980c.png)

[2022-11-24 02:05] xCuri0 commented on #11
@Intelevande did you need to use UEFIPatch ? all other Z97 users had to

[2022-11-24 02:15] Intelevande commented on #11
I didn't use UEFIPatch, I followed your instructions on inserting the FFS and enabling the hidden 'Above 4G Decoding' option, set 32 in the rebarstate.exe program and it seemed to be working for me.  Do you think I should expect some issues even though gpuz says it's enabled?

[2022-11-24 06:38] DanisMiryasov commented on #11
Hi everyone, I ran into a problem when using UEFI Patch. When trying to apply patches.txt PowerShell writes a message 'patches.txt file not found or can't be read'. UEFIPatch, UEFITool 0.28.0 and patches.txt are located in the same directory.
Asus x99 Strix

[2022-11-24 10:45] cursemex commented on #11
Use Command Prompt with admin privilage instead. You can search up CMD in the task bar search, then right click it and run as admin.
Then "cd [UEFIPatch.exe directory]".
And follow the rest of the instructions from here. Make sure to use "UEFIPatch.exe [filename] [patches.txt] -O [output file]" during the commands with the ".exe" included in the command.

[2022-11-24 13:05] LordAdo96 commented on #11
but where to apply those patches? Im using haswell too, mobo is GA-Z97X-Gaming

[2022-11-24 13:06] LordAdo96 commented on #11
but where to apply those patches? Im using haswell too, mobo is GA-Z97X-Gaming

[2022-11-24 13:29] SEt-t commented on #11
@LordAdo96 do you see the name of this issue? It's "List of working motherboards", not "Support for people who don't understand a thing".

@xCuri0 I think with rising popularity such people will swarm this repository. Maybe redirect them somewhere?

[2022-11-24 13:32] xCuri0 commented on #11
@SEt-t i do think that's starting to be a problem but i don't know where they can create support questions. maybe github discussions or setting up a discord ?

[2022-11-24 13:35] cursemex commented on #11
@SEt-t ![image](https://tenor.com/view/the-wolf-of-wall-street-clap-clapping-clapping-hands-leonardo-dicaprio-gif-22829304)

@xCuri0 I'll be down to help with a discord. I was on the verge of writing a dummy's guide on patching, or just refer them to my winraid step-by-step.

@LordAdo96 You already opened an Issue, I'll just reply there.

[2022-11-24 13:38] LordAdo96 commented on #11
My bad sorry guys really

[2022-11-24 13:44] xCuri0 commented on #11
@cursemex already made a dummy's guide on patching including the MMTool workaround. It's on the wiki

will see about creating a discord server later

[2022-11-24 14:29] cursemex commented on #15
1. Download [UEFIPatch and UEFITools](https://github.com/LongSoft/UEFITool/releases/tag/0.28.0) and put them in a folder together.

2. Download your bios from [Gigabyte's website. ](https://www.gigabyte.com/Motherboard/GA-Z97X-Gaming-5-rev-10/support#support-dl-bios)

3. Open up the bios zip and extract the Z97XG7.F8(In this example), and put in the same folder as UEFITool and UEFIPatch

Use these

[2022-11-24 15:55] cursemex commented on #15
You may need to patch your DSDT. Unfortunately, I have no knowledge in the matter as of yet.

[2022-11-24 15:57] LordAdo96 commented on #15
aa ok. thank you for help mate..

[2022-11-24 16:16] xCuri0 commented on #15
you need 4g decode for sizes larger than 1gb to work. but you still do get an fps increase even with 1gb

[2022-11-24 18:08] DanisMiryasov commented on #11
Thanks for the advice. CMD turned out, + UEFIPatch.
ASUS STRIX X99 GAMING + MSI RTX 3050 GAMING X
![image](https://user-images.githubusercontent.com/7962069/203844575-aa3ec680-0751-47a0-a11e-6317455f283a.png)

[2022-11-24 22:46] terminatorul commented on #11
Gigabyte X470 AORUS GAMING 5 WiFi + Ryzen 7 2700X + Intel Arc A770 LE 16GB
![image](https://user-images.githubusercontent.com/378924/203871102-66a3ae4d-4fe8-4bcf-94c6-00e9942283af.png)

Worked with 16GB BAR and unlimited BAR (select input value 32 for ReBarState.exe)
Specific UEFI patch required to write the new image with Qflash.

![image](https://user-images.githubusercontent.com/378924/20387124

[2022-11-25 03:04] 5l1v3r1 opened #16 "Laptop Support"
Great project, but i want to ask if it is possible to apply the patches for laptop bioses like asus n550jk-gtx850m or lenovo y520-gtx1060?

[2022-11-25 03:16] xCuri0 commented on #16
The patches developed are all for AMI UEFI which laptops don't use. But there's no reason the module shouldn't work on a laptop if it has 4G decoding and large BAR support.

[2022-11-25 23:40] SEt-t commented on #16
@5l1v3r1 while the motherboard's BIOS can be patched, the BIOS on gtx850m/gtx1060 can not so far. So, you won't get the working ReBAR with just this project.

[2022-11-26 08:54] Divin1ty666 commented on #11
So, I tried entering values 8-10-12 in ReBarState with modded bios and mobo(asus z97 deluxe) booted, but usb keyboard don't work until I re-plug it in. So I can't get into the bios . Thing is GPU-Z says **Resizable Bar enabled in bios - NO** other requirements are YES. What do I do?((

[2022-11-26 09:32] xCuri0 commented on #11
@Divin1ty666 does GPU-Z show the BAR size has increased ?

[2022-11-26 09:35] Divin1ty666 commented on #11
![1](https://user-images.githubusercontent.com/104271004/204082085-1b46b3e3-f80a-4ce9-a915-356b3a5a4076.png)

This is how it is now. Btw valuse 14 isn't working, I guess its because 16Gb size is more than rx6700xt has vram, so I can only go with 8Gb value...

[2022-11-26 09:36] xCuri0 commented on #11
@Divin1ty666 update your GPU-Z. Old version probably has incorrect detection and doesn't show BAR size

[2022-11-26 09:52] Divin1ty666 commented on #11
**@xCuri0** I've tried patch _# PciHostBridge | Replace 16GB MMIO region with complete use of physical address space (Ivy Bridge). MAY REQUIRE DSDT MODIFICATION_ - cannot be applied, it says No patches can be applied to input file. Perhaps I'm trying wrong patch, could you please tell me what exact patch should I use?

[2022-11-26 09:53] xCuri0 commented on #11
@Divin1ty666 ```Remove <16GB BAR size limit (Ivy Bridge/Haswell)```

[2022-11-26 09:56] Divin1ty666 commented on #11
That patch I've applied successfully already

[2022-11-26 09:58] xCuri0 commented on #11
@Divin1ty666 how much RAM do you have installed ? any additional PCIe cards or dual GPU ? I don't see why 16GB won't work if you have less than 32GB RAM

[2022-11-26 10:00] Divin1ty666 commented on #11
I have 16Gb ram, I do have Creative SB X-Fi Titanium HD soundcard, but i've unplugged it for now to be able to get to bios socket)

[2022-11-26 10:01] xCuri0 commented on #11
@Divin1ty666 did you try the ```PciHostBridge | Replace 8-16GB MMIO region with complete use of 64GB address space (Haswell). MAY REQUIRE DSDT MODIFICATION``` patch ?

[2022-11-26 10:02] Divin1ty666 commented on #11
Yes, I have. Same thing it can't be applied.

[2022-11-26 10:03] xCuri0 commented on #11
@Divin1ty666
try this
[code]

[2022-11-26 10:05] Divin1ty666 commented on #11
Hm, that one worked, gotta try that bios now with 14 value, thanks!

[2022-11-26 10:08] Divin1ty666 commented on #11
This?
![1](https://user-images.githubusercontent.com/104271004/204083351-6090f62c-f99f-47fb-8bbc-a3679ce2562d.png)

[2022-11-26 10:20] Divin1ty666 commented on #11
Yeah, updating GPU-Z fix wrong indication of RB:
![1](https://user-images.githubusercontent.com/104271004/204083778-3e37aa2a-b22f-40dd-ac79-5d0af627a0b9.gif)

[2022-11-26 11:00] Divin1ty666 commented on #11
So 16Gb working now. I do have strange readings that my VRAM load is now >13Gb in HZD. FPS boosted by 15 I think, although in benchmark it has dropped because CPU load there has now become 90%+))) In game CPU load has increased as well but it's not critical at least.

![1](https://user-images.githubusercontent.com/104271004/204085336-cb03fb34-e71f-4429-95d7-dd8c472deff2.gif)

[2022-11-26 11:08] xCuri0 commented on #11
@Divin1ty666 will make a proper patch for it and then add it to the list

[2022-11-26 11:57] Divin1ty666 commented on #11
**@xCuri0** You mean patch for USB issues?

[2022-11-26 13:35] cursemex commented on #11
@Divin1ty666 you have to do all your bios modifications BEFORE applying the ReBarState.exe value, that's where the USB issue starts. The same issue will happen when you try to get into windows safe mode, you won't be able to due to undetected USB. If you need to get into safe mode, use msconfig(From task bar search bar) to be able to boot into safe mode, and use it again to boot normally.

[2022-11-26 14:54] xCuri0 commented on #11
@Divin1ty666 try this
[code]
If it doesn't find anything since you have applied the previous patch use the below
[code]

[2022-11-26 15:13] aquamacho1 commented on #9
Well, after two weeks of playing around, i didn't find anything new :D
But while testing I've edited my bios heavily xD

- Modded all values to be visible/editable, and they actually do work and write/save treir values. No efi console needed.

- Added patches from MaciASL

- Bios has up to date microcodes and drivers (i think)

- Some variables are broken/have duplicates, im lazy to fix them :)

<

[2022-11-26 18:01] Tokobotenkai commented on #11
After finishing the BIOS on my end, I can't get my keyboard detected most of the time though sometimes the keyboard works. I just plug in a PS2 keyboard or use a PS2 to USB adapter.

@Divin1ty666 I am waiting for my 5775C too, hoping to disable the onboard GPU so that the CPU gets access to the HBM memory (maybe a 5800x3D of its time?). Getting 2400MHz CL10 DDR3 does give significant performance i

[2022-11-26 20:41] Divin1ty666 commented on #11
With rebar on 5775c(4.3ghz cores, 3.9 ring, 2.2 L4) now bottleneck in games where rebar is actually working, so 5775c won't help you, nor will ddr3 2400 cl, cos that whats I have. It just lacks cores, nothing can compensate for that.

https://valid.x86.fr/ulelg7
![Aida64 Membench](https://user-images.githubusercontent.com/104271004/204108179-80f1b03a-d243-4ff5-92c7-79a3ae1317f2.png)

[2022-11-26 20:51] Tokobotenkai commented on #11
Yes, I know thus, it is a test machine (for fun), it would be worse with the original 4690k inside and 1600MHz DDR3. Probably need an overclock for both the CPU and HBM.

[2022-11-26 21:15] Divin1ty666 commented on #11
L4 cache there is not a HBM module

[2022-11-27 04:50] Tokobotenkai commented on #11
My bad, it is eDRAM.

[2022-11-27 13:35] Phil-Libra commented on #11
Works with ASUS Z170-DELUXE+Intel Arc A380
![scr](https://user-images.githubusercontent.com/70735222/204137945-771c2d1d-4380-4eaf-9547-4c5bb1da42a8.png)

I modified the bios based on @dsanke to support 9700KF, just insert ReBarUEFI and patched Pcibus with MMTool, flash bios and set BAR size to unlimited.

Tested with 3DMARK Timespy, before:

![屏幕截图 2022-11-27 171347](https://user-images.githubuser

[2022-11-28 05:26] 5l1v3r1 commented on #16
Oh i see then we need to patch the vbios'es as well ? But what kind of patching for the vbios? Because as far as i know the vbioses can be found at https://www.techpowerup.com/vgabios/ link.

[2022-11-28 06:03] xCuri0 commented on #16
@5l1v3r1 you'd need some advanced knowledge to be able to patch VBIOS and also Pascal (GTX 1060) VBIOS is encrypted atleast on desktop so you can't edit that. Though some people say laptops have it unencrypted so might be able to be edited.

The oldest Nvidia GPUs that might be able to have it hacked in are probably GTX 16 series and RTX 20 series. They have the Resizable BAR capability but with m

[2022-11-28 10:52] Tokobotenkai commented on #11
@xCuri0 Would Github support the file upload of the BIOS? Not sure a collection of working patched BIOS would be useful for anyone stumbling on this thread (though I don't know if there's any licensing issues).

[2022-11-28 11:36] xCuri0 commented on #11
@Tokobotenkai GitHub lets you upload upto 25mb in comments so I don't think uploading is an issue. Not sure about licensing though.

[2022-11-28 17:40] Divin1ty666 commented on #11
Hey, I've been added to the list but my mobo is Z97-Deluxe, not Z97-PRO :))

[2022-11-28 18:35] xCuri0 commented on #11
@Divin1ty666 thanks I've fixed it